<div class="row">
  <div class="col-md-12">
    <div class="page-header">
		<h1>Import an invoice</h1>
    </div>
  </div>
</div>

<!-- This will work similarly as browser back button -->
<%= link_to '< Back', 'javascript:history.go(-1);' %>

<%= render 'form' %>

