<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Upload NEM12 Data</h1>
  </div>
</div>


<%= form_tag users_import_path, multipart: true do %>
    <%= file_field_tag 'files[]', multiple: true, :title=>"Search for a file to upload"%>
    <br>
    <%= submit_tag "Import", :class=>"btn btn-primary", :style=>"margin-top:10px;" %>
    <%#= link_to 'Back', user_path(current_user), :class=>"btn btn-primary" %>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){$('input[type=file]').bootstrapFileInput();});
</script>



