<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @meter_record.index %>
</p>

<%= link_to 'Edit', edit_meter_record_path(@meter_record) %> |
<%= link_to 'Back', meter_records_path %>
