<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Editing Ftp Server</h1>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
