<% provide(:title, "Edit user") %>

<div class="row">
  <div class="col-md-12">
  	<p id="notice"><%= notice %></p>
    <h1 class="page-header">Update Retail Plan Details</h1>

  </div>


<%= render 'new_edit_form'  %>
</div>