<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Create a new Retail Plan</h1>
  </div>


<%= link_to "   Back to #{@billing_site.name}", @billing_site %>

<%= render 'newForm' %>
</div>

