<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Editing <%= @site.name %></h1>
  </div>
</div>

<%= render 'form' %>

<% if false %>
<%= link_to 'Show', @site %> |
<%= link_to 'Back', sites_path %>
<% end %>
