<!-- <header> -->
  <!--Navigation-->
  <!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
    <!-- <div class="container-fluid"> -->
      <div class="navbar-header">
        <%= link_to "Steam", root_path, {:class=>"navbar-brand"} %>
      </div>

      <!-- start: TOP NAVIGATION MENU -->
      <!-- <ul class="nav navbar-nav navbar-right"> -->
      <ul class="nav navbar-top-links navbar-right">
        <!-- start: USER DROPDOWN -->
        <!-- <li class="dropdown current-user"> -->
        <li class="dropdown">
          <!-- <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#"> -->
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="fa fa-user fa-fw"></i>
            <%= current_user.name %>
            <i class="fa fa-caret-down "></i>
          </a>
          <ul class="dropdown-menu dropdown-dark">
            <!--<li class="divider"></li>-->
            <li>
              <%= link_to "Log out", destroy_user_session_path, :method => 'delete' %>
            </li>
          </ul>
        </li>
        <!-- end: USER DROPDOWN -->
      </ul>
      <!-- end: TOP NAVIGATION MENU -->

    <!-- </div> -->
  <!-- </nav> -->
<!-- </header> -->